@import url('https://fonts.googleapis.com/css2? família= Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400 & display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;

}

:root{

    --border: 1px solid white; 
    --border-radius: 3rem;
    --color-white: rgba(255, 253, 253, 0.979);
    --background:rgb(34, 84, 117);
    --background-2:rgb(26, 61, 83);
    --color-hover:rgb(26, 38, 58);
    --background-gray: #EEF2F6; 

}

body{
   
    font-family: 'Poppins', sans-serif;
}


/*-------------------- MENU -------------------- */
header{
    width: 100%;
    height: 100vh; 
    background: var(--background);
}

.infoheader{
    display: flex;
    width: 80%;
    position: relative;
    top: -40px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-basis: content;
}

.infoheader > button{
    border: var(--border);
    border-radius: var(--border-radius);
    width: 6rem;
    height: 2.8rem;
    color: var(--color-white);
    background: var(--background);
    cursor: pointer;
}
.infoheader>button:hover{
    background: var(--background-gray); 
    color: var(--background);
    font-weight: 600;
    border: none;
   
}

.body-header{
    width: 80%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    color: var(--color-white);
}

.body-first{
    position: relative;
    top: 4rem;
}

.title > h4{
    font-size: 1.6rem;
    font-weight: 200;
}

.title> h3{
    font-size: 2rem;
    font-weight: 100;
}

.sub-title{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2rem;
}

.sub-title > span{
    font-size: 1.1rem;
    line-height: -8px;
}

.btn_cadastrar{
    width: 11rem;
    height: 3rem;
    border: var(--border);
    border-radius: var(--border-radius);
    position: relative;
    top: 1.5rem;
    left: 0.4rem;
    background: var(--background-2);
    color: var(--color-white);
    cursor:pointer;
}
.btn_cadastrar:hover{
    background: var(--background);
 
}
 

.banner-header{
    width: 45%;
    height: 80%;
    background-image: url(../img/banner_New.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}



/*----------END OF HEADER -----------------*/


/*--------------------SOURCES------------------*/

.sources{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--background-gray);

}
.sources > .sources-title{
    position: relative;
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--background-2);
    margin-bottom: 5rem;
}

.sources-title>h2{
    font-size: 3rem;
}
.sources-title>h3{
    font-weight: 100;
    font-size: 2rem;
}

.sources-body{
    width: 900px;
    max-width: fit-content;
    height: 700px;
    margin: 0 auto;
/*   
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    align-items: center;
    justify-items: center;
     
    justify-content: center; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
     

}

.sources-body>.blocks{
    position: relative;
    top: 0.2rem;
   
    margin-bottom: 0.2rem;
    width: 17rem;
    height: 17rem;
    background: var(--color-white);
    border: var(--border);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    
}

.blocks > img{
   margin: 0 auto;
   margin-top: 1rem;
}

.blocks>h3{
    text-align: center;
    font-weight: 100;
    font-size: 0.9rem;
    margin-top: 5px;
    color: var(--background-2);
}
.blocks>div p{
    text-align: center;
    color: var(--background);
    font-weight: 100;
    font-size: 0.9rem;
    
    position: relative;
    top: -30px;
}
.blocks > .control{
    width: 80%;
    margin: 0 auto;
}

.barra{
    width: 3.5rem;
    height:2px;
  
    margin: 10px auto auto auto;
     
    background:var(--background);
}



/*---------------------END OF SOURCES--------------------*/

/*---------info-section-------------*/


.info-section{
    width: 100%;
    height: 90vh;
    background: var(--background-2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.info-body-1{
    width: 40%;
    height: 70vh;
    background-image: url(../img/pexels-tima-miroshnichenko-6693655.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.3rem;
     

}

.info-body-2{
    width: 18%;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-info-body-2 > h2{
    margin-bottom: 2rem;
    color: var(--color-white);
    font-weight: 200;
}

.info-body-2 ul li{
    list-style: none;
    color: var(--color-white);
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 0.9rem;
}


/*------------END OF INFO-BODY---------------*/

/*--------------------FOOTER----------------------*/

footer{
    width: 100%;
    height: 8vh;
    background: var(--background); 
}

.footer-body{
    display: flex;
    height: 8vh;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    color: var(--color-white);

}

.footer-body>.division  span a{
    text-decoration: none;
    color: var(--color-white);
    font-weight: 100;
    font-size: 0.8rem;
}

.footer-body span{
    font-size: 1rem;
    font-weight: 200;
}

.div{
    width: 2px;
    height: 15px;
    background: var(--color-white);
}



/* Media Screen LAGURA MAIOR QUE 500PX */
 